ul.traducao {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
}

ul.traducao li {
	display: inline-block;
	padding: 10px;
	color: #ecf0f1;
}

li.PT {
	color: #000000 !important;
}

li.EN {
	background: #2ecc71;
}

li.ES {
	background: #3498db;
}

li.DE {
	background: #9b59b6;
}

li.FR {
	background: #e74c3c;
}